
<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CSCIE32_asgn0_fizzbuzz</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="container">

    <h1>Hello World!</h1>
    <p class="lead">This is something!</p>
    <div class="panel panel-default" ng-controller="MyFizzBuzzController">
        <div class="panel-heading">
            Assignment 0: FizzBuzz
        <div class="panel-body">
            <div class="input-group">
                <label> N: </label>
                <input type="number" ng-model="fizzBuzzNum" ng-init="fizzBuzzNum=15">
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    fizzBuzz({{fizzBuzzNum}}) output:
                </div>
                <div class="panel-body">
                    <div ng-repeat="obj in fizzBuzzAns track by $index">
                        {{obj}}
                    </div>
                </div>
            </div>

        </div>
    </div>

</div><!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery-2.1.4.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
<script src="js/assign0_fizzbuzz.js"></script>
</body>
</html>
